block commission

section.commission
    img.commission__img(src="assets/img/payment/payment.svg")
    h2.title Наша комиссия составляет 
        span.text_montserrat-bold 1 полный оклад #[br] кандидата 
        span и выплачивается после выхода #[br] кандидата на работу