block find-developers

section.find-developers
    h2.find-developers__title.title С нами вы легко найдете #[br] 
        span.text_montserrat-bold любого IT-специалиста:
        
    div.grid-container
            div.grid-container__item.grid-container__item_tall     
                img.grid-container__img.grid-container__img_hex(src="assets/img/find-developers/fullstack.svg")
                h4.grid-container__title Full stack #[br] разработчики
            
            div.grid-container__item.grid-container__item_tall
                img.grid-container__img.grid-container__img_hex(src="assets/img/find-developers/backend.svg")
                h4.grid-container__title Back-end #[br] разработчик
                
            div.grid-container__item.grid-container__item_tall
                img.grid-container__img.grid-container__img_hex(src="assets/img/find-developers/frontend.svg")
                h4.grid-container__title Front-end #[br] разработчик
                
            div.grid-container__item.grid-container__item_tall
                img.grid-container__img.grid-container__img_hex(src="assets/img/find-developers/php.svg")
                h4.grid-container__title Программист #[br] PHP
                
            div.grid-container__item.grid-container__item_tall
                img.grid-container__img.grid-container__img_hex(src="assets/img/find-developers/pr.svg")
                h4.grid-container__title PR- #[br] менеджер
                
            div.grid-container__item.grid-container__item_tall
                img.grid-container__img.grid-container__img_hex(src="assets/img/find-developers/seo.svg")
                h4.grid-container__title SEO- #[br] специалист
                
            div.grid-container__item.grid-container__item_tall
                img.grid-container__img.grid-container__img_hex(src="assets/img/find-developers/smm.svg")
                h4.grid-container__title SMM- #[br] менеджер
                
            div.grid-container__item.grid-container__item_tall
                img.grid-container__img.grid-container__img_hex(src="assets/img/find-developers/mail.svg")
                h4.grid-container__title Mail- #[br] маркетолог
                
            div.grid-container__item.grid-container__item_tall
                img.grid-container__img.grid-container__img_hex(src="assets/img/find-developers/3d.svg")
                h4.grid-container__title 3D- #[br] дизайнер
                
            div.grid-container__item.grid-container__item_tall
                img.grid-container__img.grid-container__img_hex(src="assets/img/find-developers/ui.svg")
                h4.grid-container__title UI- #[br] дизайнер
                
            div.grid-container__item.grid-container__item_tall
                img.grid-container__img.grid-container__img_hex(src="assets/img/find-developers/ux.svg")
                h4.grid-container__title UX- #[br] дизайнер
                
            div.grid-container__item.grid-container__item_tall
                img.grid-container__img.grid-container__img_hex(src="assets/img/find-developers/web.svg")
                h4.grid-container__title Веб- #[br] дизайнер
    span.find-developers__etc.etc и сотни других профессий
        img.purple-line(src="assets/img/find-developers/purple_line.svg")