
block vars

doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/style.min.css')
    script(src='js/main.min.js')
    title= 'Zveno — Агентство по подбору Digital и IT-профессионалов'
  body
    include ./nav.pug
    include ./find-a-specialist.pug   
    include ./search-delay.pug
    include ./find-developers.pug
    include ./select-a-specialist.pug
    include ./our-specialists.pug
    include ./process.pug
    include ./payment.pug
    include ./social-network.pug
    include ./commission.pug
    include ./find-a-job.pug
    include ./navFooter.pug
    