block our-specialists

section.our-specialists
    h2.title Штат нашего агентства 
        span.title_regular состоит из:    
        
    div.grid-container
        div.grid-container__item
            h4.grid-container__title.soft-skills Soft-skills #[br] специалисты
                img.grid-container__img(src="assets/img/our-specialists/question.svg")
            p.grid-container__desc Рекрутеров-психологов, #[br] которые оценивают soft-skills      
                
        div.grid-container__item
            h4.grid-container__title.hard-skills Hard-skills #[br] специалисты
                img.grid-container__img(src="assets/img/our-specialists/question.svg")
            p.grid-container__desc Профильные практикующие #[br] специалисты проводят глубинный #[br] анализ hard-skills и выясняют #[br] реальную компетенцию