block process
    
div.process
    h2.title.text_montserrat-bold Процесс работы:
    
    div.grid-container 
        img.grid-container__item.pyramid(src="assets/img/process/pyramid.svg")
        
        
        
        div.grid-container__item.zero1
            img.grid-container__img.src(src="assets/img/process/01.svg")
            div.zero1__p Проводим бриф, где выясняем #[br] все требования к кандидатам #[br] и подписываем договор #[br] и, при необходимости, 
                span.text_important.text_montserrat-bold NDA
                    img.grid-container__img.zero1__img.hint-trigger.hint1-trigger(src="assets/img/our-specialists/question.svg")
                    div.hint.zero1__hint.height_0 NDA — Non-Disclosure Agreement — Соглашение #[br] о конфиденциальности, можно перевести как #[br] Соглашение о нераспространении информации.
                        svg.hint__img(xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#", xmlns="http://www.w3.org/2000/svg", xmlns:cc="http://creativecommons.org/ns#", xmlns:dc="http://purl.org/dc/elements/1.1/", xmlns:svg="http://www.w3.org/2000/svg", xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape", xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd", xmlns:ns1="http://sozi.baierouge.fr", xmlns:xlink="http://www.w3.org/1999/xlink", id="svg2", viewBox="0 0 354 194", version="1.1")
                            g(id="layer1", fill="#fff", transform="translate(-318 -550.36)")
                                path(id="path3757", stroke="#eee", stroke-width="4", d="m320 742.36h350v-190z")
                                path(id="path3759", stroke-width="2", stroke="#fff", transform="translate(0 308.27)", d="m650 434.09v-20h20")
                    
        div.grid-container__item.zero2
            img.grid-container__img.src(src="assets/img/process/02.svg")
            div.zero2__p Начинаем подбор кандидатов на #[br] площадках также используем #[br] коворкинг-платформу Clubhouse, #[br] плюс собственная база вакансий #[br] с более 40000 соискателей
        div.grid-container__item.zero3
            img.grid-container__img.src(src="assets/img/process/03.svg")
            div.zero3__p Проводим собеседование #[br] с лучшими кандидатами, #[br] где оцениваем #[br] 
                span.text_important.text_montserrat-bold soft-skills и hard-skills
                    img.grid-container__img.zero3__img.hint-trigger.zero3-trigger(src="assets/img/our-specialists/question.svg")
                    div.hint.zero3__hint.height_0 Hard Skills — это профессиональные навыки #[br] Soft Skills — это дополнительные умения и личные качества
                        svg.hint__img(xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#", xmlns="http://www.w3.org/2000/svg", xmlns:cc="http://creativecommons.org/ns#", xmlns:dc="http://purl.org/dc/elements/1.1/", xmlns:svg="http://www.w3.org/2000/svg", xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape", xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd", xmlns:ns1="http://sozi.baierouge.fr", xmlns:xlink="http://www.w3.org/1999/xlink", id="svg2", viewBox="0 0 354 194", version="1.1")
                            g(id="layer1", fill="#fff", transform="translate(-318 -550.36)")
                                path(id="path3757", stroke="#eee", stroke-width="4", d="m320 742.36h350v-190z")
                                path(id="path3759", stroke-width="2", stroke="#fff", transform="translate(0 308.27)", d="m650 434.09v-20h20")
                    
        div.grid-container__item.zero4
            img.grid-container__img.src(src="assets/img/process/04.svg")
            div.zero4__p Оцениваем кандидатов #[br] с позиции 
                span.text_important.text_montserrat-bold мэтчинга 
                    img.grid-container__img.zero4__img.hint-trigger.zero4-trigger(src="assets/img/our-specialists/question.svg")
                    div.hint.zero4__hint.height_0 Мэтчинг — это метод индивидуального, #[br] подбора подходящих друг другу пользователей #[br] по результатам личностного теста. 
                        svg.hint__img(xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#", xmlns="http://www.w3.org/2000/svg", xmlns:cc="http://creativecommons.org/ns#", xmlns:dc="http://purl.org/dc/elements/1.1/", xmlns:svg="http://www.w3.org/2000/svg", xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape", xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd", xmlns:ns1="http://sozi.baierouge.fr", xmlns:xlink="http://www.w3.org/1999/xlink", id="svg2", viewBox="0 0 354 194", version="1.1")
                            g(id="layer1", fill="#fff", transform="translate(-318 -550.36)")
                                path(id="path3757", stroke="#eee", stroke-width="4", d="m320 742.36h350v-190z")
                                path(id="path3759", stroke-width="2", stroke="#fff", transform="translate(0 308.27)", d="m650 434.09v-20h20")
                    
        div.grid-container__item.zero5
            img.grid-container__img.src(src="assets/img/process/05.svg")
            div.zero5__p Организуем встречу #[br] с работодателем