block search-delay
    
    section.search-delay
        h2.search-delay__title.title Поиски работника затяги&shy;ва&shy;ют&shy;ся, #[br]
            span.text_montserrat-bold а бизнес начинает простаивать?
        
        div.grid-container
            div.grid-container__item
                img.grid-container__img(src="assets/img/search-delay/watch.svg")
                h4.grid-container__title Трата времени
                p.grid-container__desc Замедляются #[br] бизнес-процессы
            
            div.grid-container__item
                img.grid-container__img(src="assets/img/search-delay/watch.svg")
                h4.grid-container__title Доп. нагрузка
                p.grid-container__desc Действующие работники #[br] получают допол&shy;ни&shy;тельные обязанности
                
            div.grid-container__item
                img.grid-container__img(src="assets/img/search-delay/watch.svg")
                h4.grid-container__title Напряжение
                p.grid-container__desc Стрессовая обстановка #[br]  в коллективе
                
                
        h2.search-delay__title.title Безрезультатно потрачена 
            span.text_montserrat-bold куча #[br] денег на сайтах вакансий?
        
        div.grid-container
            div.grid-container__item
                img.grid-container__img(src="assets/img/search-delay/watch.svg")
                h4.grid-container__title Трата денег
                p.grid-container__desc Дорогие подписки #[br] на базы резюме, и цены #[br] продолжают расти
            
            div.grid-container__item
                img.grid-container__img(src="assets/img/search-delay/watch.svg")
                h4.grid-container__title Нет связи
                p.grid-container__desc Большое количество #[br] "мертвых" резюме
                
            div.grid-container__item
                img.grid-container__img(src="assets/img/search-delay/watch.svg")
                h4.grid-container__title Все не то!
                p.grid-container__desc Кандидаты на 95% #[br] не подходят по требованиям