block select-a-specialist
    
section.select-a-specialist
    img.select-a-specialist__overlay(src="assets/img/select-a-specialist/bg.jpg")
    h2.title Мы найдем и подберем #[br]
        span.color_purple настоящего 
        span профессионала!
    button.btn.btn_find
        img.btn_find__img(src="assets/img/find-a-specialist/magnifier.svg")
        img.top-arrow(src="assets/img/select-a-specialist/top-arrow.svg")
        img.bottom-arrow(src="assets/img/select-a-specialist/bottom-arrow.svg")
        span.btn.btn_find__text Найти