block social-network

section.social-network
    h2.title Начинаем подбор #[br] кандидатов 
        span.text_montserrat-bold на площадках:
    
    div.grid-container
        div.grid-container__item
            a.social-network__link(href="#")
                img.grid-container__img.linkedin(src="assets/img/social-network/linkedin.svg")
                
        div.grid-container__item
            a.social-network__link(href="#")
                img.grid-container__img.frilansim(src="assets/img/social-network/frilansim.svg")
                
        div.grid-container__item
            a.social-network__link(href="#")
                img.grid-container__img.superjob(src="assets/img/social-network/superjob.svg")
                
        div.grid-container__item
            a.social-network__link(href="#")
                img.grid-container__img.be(src="assets/img/social-network/be.svg")
                
        div.grid-container__item
            a.social-network__link(href="#")
                img.grid-container__img.hh(src="assets/img/social-network/hh.svg")
                
        div.grid-container__item
            a.social-network__link(href="#")
                img.grid-container__img.cossa(src="assets/img/social-network/cossa.svg")
                
        div.grid-container__item
            a.social-network__link(href="#")
                img.grid-container__img.vk(src="assets/img/social-network/vk.svg")
                
        div.grid-container__item
            a.social-network__link(href="#")
                img.grid-container__img.itmozg(src="assets/img/social-network/itmozg.svg")
                
        div.grid-container__item
            a.social-network__link(href="#")
                img.grid-container__img.facebook(src="assets/img/social-network/facebook.svg")
                
        div.grid-container__item
            a.social-network__link(href="#")
                img.grid-container__img.moikrug(src="assets/img/social-network/moikrug.svg")
                
        div.grid-container__item
            a.social-network__link(href="#")
                img.grid-container__img.habr(src="assets/img/social-network/habr.svg")
                
        div.grid-container__item
            a.social-network__link(href="#")
                img.grid-container__img.vc(src="assets/img/social-network/vc.svg")
                
    span.etc также используем коворкинг-платформу Clubhouse, плюс #[br] 
        span.text_montserrat-bold собственная база вакансий с более 40000 соискателей
        img.purple-line(src="assets/img/find-developers/purple_line.svg")
